{% load mid %}
{% include "header.html" %}

<p>Check if the people somebody is following or the members of one of their lists are on Mastodon (or elsewhere in the Fediverse).</p>
<p>This may take a few seconds if the requested lists contain a lot of people – be patient and do not refresh the page too quickly.</p>
<form action="./" method="post">
{% csrf_token %}
<label for="screenname">Twitter username:</label>&nbsp;
<input type="text" id="screenname" name="screenname" value="@{% if is_me or not requested_name %}{{ me.username }}{% else %}{{ requested_name }}{% endif %}">
<h3>Query Options</h3>
<input type="submit" value="Search followed accounts" name="getfollowed">&nbsp;&nbsp;<input type="submit" value="Search followers" name="getfollowers">&nbsp;&nbsp;<input type="submit" value="Search blocked accounts" name="getblocked">&nbsp;&nbsp;<input type="submit" value="Search muted accounts" name="getmuted">
<h3>Advanced</h3>
<input type="submit" value="Retrieve lists" name="getlists">&nbsp;&nbsp;<a href="#upload_custom_section" id="upload_custom_link">Upload custom list</a>
<script>
  const button = document.createElement('button');
  const link = document.getElementById('upload_custom_link');
  button.textContent = link.textContent;
  button.onclick = function () {document.getElementById('upload_custom_section').scrollIntoView();};
  button.type = 'button';
  link.parentNode.append(button);
  link.remove();
</script>
</form>

{% if error_message is not none %}
  <p><span style="font-weight: bold;">Error:</span> {{ error_message }}</p>
{% else %}
  {% if requested_user %}
    <h2>Fediverse IDs in {% if is_me %}Your Own{% else %}@{{requested_user.username}}'s{%endif%} Profile</h2>
    {% if requested_user_mastodon_ids %}
      <p>We found the following Fediverse IDs in {% if is_me %}<a href="https://twitter.com/{{ me.username }}">your</a>{% else %}<a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a>'s{%endif%} Twitter profile:</p>
      <ul>
      {% for mid in requested_user_mastodon_ids %}
        <li class="mids"><a href="{{ mid|mid_url }}">{{ mid }}</a> {% if mid.exists %}✔️{% else %}❌<br>This account does not seem to exist (or the server responds too slowly).{% endif %}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if requested_user_broken_mastodon_ids %}
      <p>We found some things in {% if is_me %}<a href="https://twitter.com/{{ me.username }}">your</a>{% else %}<a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a>'s{%endif%} Twitter profile that might be Fediverse IDs, but we are not sure enough about it to include it in the search results.{% if is_me %}If these are genuine, please consider writing them in the suggested form to ensure tools like Debirdify will pick them up.{% endif %}
      </p>
      <ul>
      {% for mid in requested_user_broken_mastodon_ids %}<li>{{ mid.original }} {% if mid.exists %}✔️{% else %}❌{% endif %}<br>{% if not mid.exists %}This does not seem to be a Fediverse account (or the server responds too slowly).{% else %}Suggested form: <a href="{{ mid.url }}">@{{ mid }}</a>{% endif %}</li>{% endfor %}
      </ul>
      <p>Debirdify cannot do an in-depth check like this for every questionable ID on a normal search, so unless it is fairly certain that something is a Fediverse ID, it will be ignored.</p>
    {% endif %}
    {% if not requested_user_mastodon_ids and not requested_user_broken_mastodon_ids %}
      <p>
      We found no Fediverse IDs in {% if is_me %}<a href="https://twitter.com/{{ me.username }}">your</a>{% else %}<a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a>'s{%endif%} Twitter profile.
      {% if is_me %}
        Please consider putting your ID in your profile (e.g. display name, bio, pinned tweet – see below <a href="#howitworks">for more details</a>) so that other people can find you – ideally in the form @name@host.tld.
      {% endif %}
      </p>
  {% endif %}
{% endif %}


{% if action is not none %}
<h2>Results</h2>

{% if uploaded_list_errors %}
  <div style="border: 1px solid #a33; border-radius: 1em; padding-left: 1em; padding-right: 1em; padding-top: 0.2em; padding-bottom: 0.2em; background-color: #fbb">
  <p style="font-weight: bold; margin-bottom: 0; margin-top: 0.4em;">File Processing Error</p>
  <hr style="border: 1px solid #a33">
  <p>Your uploaded lists contained Twitter handles that are invalid or do not exist.</p>
  <dl>
  {% for origin, errs in uploaded_list_errors %}
    <dt style="margin-top: 0.8em">{% if origin.is_text_area %}Form input{% else %}Uploaded file <tt>{{ origin.name }}</tt>{% endif %}:</dt>
    <dd>
    {% for u in errs %}
      <li>line {{ u.src.line }}: <tt>{{ u.src.original_form }}</tt></li>
    {% endfor %}
    </dd>
  {% endfor %}
  </dl>
  </div>
{% endif %}

{% if action != 'listupload' and requested_user is none %}
	<p>There is no user called @{{requested_name}}.</p>
{% else %}
	{% if action != 'getlists' %}
	<p>
	  {% if action == 'getlist' and not requested_lists %}
	  	<span style="font-weight: bold">Error:</span> You did not select any lists to search.
	  {% else %}
	    {% if action == 'getlist' %}<p>Lists that were searched: {{ requested_lists|join:', ' }}</p>{% endif %}
	  
			{% if mastodon_ids_by_instance or keyword_users %}Some of the people{% else %}None of the people{% endif %} 
			{% if action == 'getfollowers' %}
				{% if is_me %}
					that follow <a href="https://twitter.com/{{ me.username }}">you</a>
				{% else %}
					that follow <a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a>
				{% endif %}
			{% elif action == 'getfollowed' %}
				{% if is_me %}
					<a href="https://twitter.com/{{ me.username }}">you</a> follow
				{% else %}
					<a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a> follows
				{% endif %}
			{% elif action == 'getblocked' %}
                you blocked
			{% elif action == 'getmuted' %}
                you muted
			{% elif action == 'listupload' %}
			    in the list you uploaded
		    {% else %}
				in the selected lists
			{% endif %}
			seem to have a Mastodon account.
	  {% endif %}
	</p>
	{% endif %}
{% endif %}

{% if action == 'getlists' or action == 'getlist' and not requested_lists %}
  <p>{% if is_me %}<a href="https://twitter.com/{{ me.username }}">You</a> have{% else %}<a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a> has{% endif %} the following {% if not is_me %}public {% endif %}list{% if list|length != 1%}s{% endif %}. Select the ones you want to search by clicking the checkboxes next to them.</p>
  <form action="./" method="post">
  {% csrf_token %}
  <ul class="lists">
  <li><input type="checkbox" id="list_following" name="list_following"> <label for="list_following"><a href="https://twitter.com/{{ requested_user.username }}/following" target="_blank">Followed accounts</a></label> ({{ requested_user.public_metrics.following_count }} members)</li>
  <li><input type="checkbox" id="list_followers" name="list_followers"> <label for="list_followers"><a href="https://twitter.com/{{ requested_user.username }}/followers" target="_blank">Followers</a></label> ({{ requested_user.public_metrics.followers_count }} members)</li>
  {% if is_me %}
    <li><input type="checkbox" id="list_blocked" name="list_blocked"> <label for="list_blocked"><a href="https://twitter.com/settings/blocked/all" target="_blank">Blocked accounts</a></label></li>
    <li><input type="checkbox" id="list_muted" name="list_muted"> <label for="list_muted"><a href="https://twitter.com/settings/muted/all" target="_blank">Muted accounts</a></label></li>
  {% endif %}
  {% for lst in lists %}
    <li><input type="checkbox" id="list_{{ lst.id }}" name="list_{{ lst.id }}"> <label for="list_{{ lst.id }}"><a href="https://twitter.com/i/lists/{{ lst.id|urlencode }}" target="_blank">{{ lst.name }}</a></label> ({{ lst.member_count }} members)</li>
  {% endfor %}
  </ul>

  {% if followed_lists %}
    <p>Additionally, {% if is_me %}<a href="https://twitter.com/{{ me.username }}">You</a> follow{% else %}<a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a> follows{% endif %} the following lists:</p>
    <ul class="lists">
    {% for lst in followed_lists %}
      <li><input type="checkbox" id="list_{{ lst.id }}" name="list_{{ lst.id }}"> <label for="list_{{ lst.id }}"><a href="https://twitter.com/i/lists/{{ lst.id|urlencode }}" target="_blank">{{ lst.name }}</a></label> ({{ lst.member_count }} members)</li>
    {% endfor %}
    </ul>
  {% endif %}

  <p><span style="font-weight: bold">Note:</span> For very large lists (several thousand members), not all members might be searched due to rate limiting issues.</p>

  <input type="hidden" name="screenname" value="{{requested_name}}">
  <input type="submit" name="getlist" value="Search lists">
  </form>
{% endif %}

{% if mastodon_ids_by_instance %}
<p>We searched {{ n_users_searched }} Twitter accounts and found {{ mastodon_id_users|length }} accounts with Fediverse IDs, spread over {{ mastodon_ids_by_instance|length }} instances. (<a href="#export">see below for CSV export</a>)</p>

<script>
function goto_instance(i) {
    const dest = document.getElementById('instance_' + (i+1).toString());
    if (dest == null) return;
    dest.scrollIntoView();
}
</script>

{% if most_relevant_instances %}
  <h2>Most Relevant Instances</h2>
  <p>
  The following ranking shows the instances that Debirdify considers most relevant to {% if is_me %}you{% else %}@{{requested_name}}{% endif %} based on the Fediverse accounts we found according to your query.
  </p>
  <table style="width: 100%; border: none; margin-left: 0.5em">
  {% for inst in most_relevant_instances %}
    <tr class="ranking_row" onclick="goto_instance({{ inst.index }})">
    <td><a href="#instance_{{ inst.index_plus_one }}">{{ inst.host }}</a></td>
    <td style="width: 100%; padding-left: 1em"><div class="ranking_bar" style="width: {{ inst.rel_score|floatformat:0 }}%; height: 1em; background-color: #88f; border-radius: 0.2em;"></div></td>
    <td style="padding-left: 1em; padding-right: 2em; text-align: right">{{ inst.score|floatformat:2 }}</td>
    </tr>
  {% endfor %}
  </table>
  <script>
  Array.from(document.getElementsByClassName('ranking_row')).forEach(elem => elem.style.cursor = 'pointer');
  </script>
{% endif %}

{% if mastodon_ids_by_instance %}
<div id="instance_distribution_container"></div>
<script>
const instance_dist_labels = [{% for i, us in mastodon_ids_by_instance %}'{{ i.host|addslashes }}',{% endfor %}];
const instance_dist_vals = [{% for i, us in mastodon_ids_by_instance %}{{ us|length }},{% endfor %}];
const instance_scores = [{% for i, us in mastodon_ids_by_instance %}{% if i.score is not null %}{{i.score}}{% else %}null{% endif %},{% endfor %}]
const instance_users = [{% for i, us in mastodon_ids_by_instance %}{% if i.users is not null %}{{i.users}}{% else %}null{% endif %},{% endfor %}]
function mk_label(i) {
    var label = instance_dist_labels[i];
    var has_extras = false;
    var extras = "";
    if (instance_users[i] != null) {
        extras += instance_users[i] + ' users';
        has_extras = true;
    }
    if (instance_scores[i] != null) {
        if (has_extras) extras += ', ';
        extras += 'relevance score: ' + instance_scores[i].toFixed(2);
        has_extras = true;
    }
    if (has_extras)
        label = label + ' (' + extras + ')';
    return label;
}
mkChart('instance_distribution', 'instance_distribution_container', 'Instance Distribution', instance_dist_labels, instance_dist_vals, goto_instance, mk_label);
</script>
{% endif %}

{% if service_stats %}
<div id="service_distribution_container"></div>
<script>
const service_dist_labels = [{% for serv, n in service_stats %}'{{ serv|addslashes }}',{% endfor %}];
const service_dist_vals = [{% for serv, n in service_stats %}{{ n }},{% endfor %}];
mkChart('service_distribution', 'service_distribution_container', 'Service Distribution', service_dist_labels, service_dist_vals, null, null);
</script>
{% endif %}


<h2>List of Accounts by Instance</h2>

<ul class="users_by_instance" style="list-style-type: None; padding: 0; margin-right: 0;">
  {% for i, us in mastodon_ids_by_instance %}
  {% spaceless %}
  <li style="border-radius: 1em; padding: 0.8em; padding-bottom: 0; margin-left: 0; margin-bottom: 1em; border: 1px solid #333">
  <a id="instance_{{ forloop.counter }}"></a>
  {% if i.icon %}<img src="https://pruvisto.org/debirdify_static/service_icons/{{ i.icon }}" title="{{i.software|title}}" alt="{{i.software|title}}" style="height: 2.5ex; margin-right: 2pt; vertical-align: baseline" class="server_icon">
  {% else %}
  <img src="https://pruvisto.org/debirdify_static/service_icons/unknown.svg" title="Unknown service" alt="Unknown service" style="height: 2.5ex; margin-right: 2pt" class="server_icon">
  {% endif %}
  <span style="font-weight: bold; font-size: 140%;">
  <a style="margin-right: 2pt; text-decoration: none; color: inherit" href="https://{{ i.host|urlencode }}" target="_blank">{{ i.host }}</a>
  
  {% if i.dead %}
  <img src="https://pruvisto.org/debirdify_static/dead.svg" title="offline or very slow" alt="offline or very slow" class="server_icon" style="height: 1.5ex">
  {% elif i.registrations_open is not none and not i.registrations_open %}
  <img src="https://pruvisto.org/debirdify_static/lock.svg" title="not open for registrations" title="not open for registrations" class="server_icon" style="height: 1.5ex">
  {% elif i.registrations_open %}
  <img src="https://pruvisto.org/debirdify_static/open.svg" title="open for registrations" title="open for registrations" class="server_icon" style="height: 1.6ex">
  {% endif %}  
  </span>
  
    {% if i.software is not none %}&nbsp;<span style="color: rgb(83, 100, 113)">{{ i.software|title }} {{ i.software_version }}</span>{% endif %}
    {% if i.stats is not none %}<br>{{ i.stats }}{% endif %}
    {% if i.last_update_pretty is not none %}<br>last updated: {{ i.last_update_pretty }}{% endif %}
  {% endspaceless %}
    <hr style="border: 1px solid #333">
    <dl class="users" style="margin-top: 1em; margin-left: 0">
    {% for u, mid in us %}
      <dt class="users"><a href="https://twitter.com/{{ u.screenname|urlencode }}" class="twitter_acc_link" target="_blank"><span class="displayname">{{ u.name }}</span> <span class="screenname">{{ u.screenname }}</span></a></dt>
      <dd class="users" style="margin-left: 0; "><a href="{{ mid|mid_url }}">{{ mid }}</a></dd>
    {% endfor %}
  </dl>
  </li>
  {% endfor %}
</ul>

<h2>CSV Export</h2>
<p><a id="export"></a>You can bulk-follow, bulk-block, etc. all the above accounts on Fediverse by downloading the CSV file below and importing it e.g. on Mastodon under Settings → Import and Export → Import. Make sure to select ‘merge’, not ‘overwrite’.</p>
<p style="margin-bottom: 2em">
<a class="button" href="data:text/plain;charset=utf-8,{{ csv|urlencode }}" download="following_accounts.csv">Download CSV Export</a>
</p>


{% endif %}

{% if keyword_users %}
<h2>Additional Spurious Results</h2>

<p>Additionally, the following users have some possibly Mastodon-related keywords in their bio. You may want to check them manually.</p>
<dl class="users">
  {% for u in keyword_users %}
    <dt class="users"><a href="https://twitter.com/{{ u.screenname }}" class="twitter_acc_link"><span class="displayname">{{ u.name }}</span> <span class="screenname">{{ u.screenname }}</span></a></dt>
    <dd class="users">
      <ul class="extras">
        {% for x in u.extras %}
          <li class="extras">‘[…] {{ x }} […]’</li>
        {% endfor %}
      </ul>
    </dd>
  {% endfor %}
</dl>
{% endif %}

{% endif %}

{% endif %}

<p style="margin-bottom: 2em; margin-top: 2em;">
<a class="button" href="./?clear=clear">Log Out</a>
</p>


<h2 id="upload_custom_section">Upload Custom List</h2>
<p>Instead of scanning a list from Twitter (followers, blocked accounts, etc.) you can also directly enter or upload a list of accounts to scan. The expected format is one Twitter user name per line, with or without a leading <tt>@</tt>. If a line contains invalid characters (not <tt>A-Za-z_@</tt>), only the string up to the first invalid character is used.</p>
<form action="./" enctype="multipart/form-data" method="post">
{% csrf_token %}
<textarea id="list_entry" name="list_entry" style="width: 100%; height: 10em; resize: vertical" placeholder="#Enter your queries here or upload some lists below&#10;@pruvisto&#10;debirdify">{{ list_entry }}</textarea><br />
<p><input type="file" id="uploaded_list" name="uploaded_list" multiple></p>
<p><input type="submit" name="listupload" value="Submit" style=""></p>
</form>

{% include "footer.html" %}
</html>
