{% load mid %}
{% include "header.html" %}

<p>Check if the people somebody is following or the members of one of their lists are on Mastodon (or elsewhere in the Fediverse).</p>
<p>This may take a few seconds if the requested lists contain a lot of people – be patient and do not refresh the page too quickly.</p>
<form action="./" method="get">
<label for="screenname">Twitter username:</label>&nbsp;
<input type="text" id="screenname" name="screenname" value="@{% if is_me %}{{ me.username }}{% else %}{{ requested_name }}{% endif %}"></td>
<br><br>
<input type="submit" value="Search followed accounts" name="getfollowed">&nbsp;&nbsp;<input type="submit" value="Search followers" name="getfollowers">&nbsp;&nbsp;<input type="submit" value="Search blocked accounts" name="getblocked">&nbsp;&nbsp;<input type="submit" value="Search muted accounts" name="getmuted">&nbsp;&nbsp;<input type="submit" value="Advanced: Retrieve lists" name="getlists">
</form>

{% if error_message is not none %}
  <p><span style="font-weight: bold;">Error:</span> {{ error_message }}</p>
{% else %}
  {% if requested_user %}
    <h2>Fediverse IDs in {% if is_me %}Your Own{% else %}@{{requested_user.username}}'s{%endif%} Profile</h2>
    {% if requested_user_mastodon_ids %}
      <p>We found the following Fediverse IDs in {% if is_me %}<a href="https://twitter.com/{{ me.username }}">your</a>{% else %}<a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a>'s{%endif%} Twitter profile:</p>
      <ul>
      {% for mid in requested_user_mastodon_ids %}
        <li class="mids"><a href="{{ mid|mid_url }}">{{ mid }}</a> {% if mid.exists %}✔️{% else %}❌<br>This account does not seem to exist.{% endif %}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if requested_user_broken_mastodon_ids %}
      <p>We found some things in {% if is_me %}<a href="https://twitter.com/{{ me.username }}">your</a>{% else %}<a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a>'s{%endif%} Twitter profile that might be Fediverse IDs, but we are not sure enough about it to include it in the search results.{% if is_me %}If these are genuine, please consider writing them in the suggested form to ensure tools like Debirdify will pick them up.{% endif %}
      </p>
      <ul>
      {% for mid in requested_user_broken_mastodon_ids %}<li>{{ mid.original }} {% if mid.exists %}✔️{% else %}❌{% endif %}<br>{% if not mid.exists %}This does not seem to be a Fediverse account.{% else %}Suggested form: <a href="{{ mid.url }}">@{{ mid }}</a>{% endif %}</li>{% endfor %}
      </ul>
      <p>Debirdify cannot do an in-depth check like this for every questionable ID on a normal search, so unless it is fairly certain that something is a Fediverse ID, it will be ignored.</p>
    {% endif %}
    {% if not requested_user_mastodon_ids and not requested_user_broken_mastodon_ids %}
      <p>
      We found no Fediverse IDs in {% if is_me %}<a href="https://twitter.com/{{ me.username }}">your</a>{% else %}<a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a>'s{%endif%} Twitter profile.
      {% if is_me %}
        Please consider putting your ID in your profile (e.g. display name, bio, pinned tweet – see below <a href="#howitworks">for more details</a>) so that other people can find you – ideally in the form @name@host.tld.
      {% endif %}
      </p>
  {% endif %}
{% endif %}


{% if action is not none %}
<h2>Results</h2>

{% if requested_user is none %}
	<p>There is no user called @{{requested_name}}.</p>
{% else %}
	{% if action != 'getlists' %}
	<p>
	  {% if action == 'getlist' and not requested_lists %}
	  	<span style="font-weight: bold">Error:</span> You did not select any lists to search.
	  {% else %}
	    {% if action == 'getlist' %}<p>Lists that were searched: {{ requested_lists|join:', ' }}</p>{% endif %}
	  
			{% if mastodon_id_users or keyword_users %}Some of the people{% else %}None of the people{% endif %} 
			{% if action == 'getfollowers' %}
				{% if is_me %}
					that follow <a href="https://twitter.com/{{ me.username }}">you</a>
				{% else %}
					that follow <a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a>
				{% endif %}
			{% elif action == 'getfollowed' %}
				{% if is_me %}
					<a href="https://twitter.com/{{ me.username }}">you</a> follow
				{% else %}
					<a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a> follows
				{% endif %}
			{% elif action == 'getblocked' %}
         you blocked
			{% elif action == 'getmuted' %}
				 you muted
			{% else %}
				in the selected lists
			{% endif %}
			seem to have a Mastodon account.
	  {% endif %}
	</p>
	{% endif %}
{% endif %}

{% if action == 'getlists' or action == 'getlist' and not requested_lists %}
<p>{% if is_me %}<a href="https://twitter.com/{{ me.username }}">You</a> have{% else %}<a href="https://twitter.com/{{ requested_user.username }}">@{{ requested_user.username }}</a> has{% endif %} the following {% if not is_me %}public {% endif %}list{% if list|length != 1%}s{% endif %}. Select the ones you want to search by clicking the checkboxes next to them.</p>
<form action="./" method="get">
<ul class="lists">
<li><input type="checkbox" id="list_following" name="list_following"> <label for="list_following"><a href="https://twitter.com/{{ requested_user.username }}/following" target="_blank">Followed accounts</a></label> ({{ requested_user.public_metrics.following_count }} members)</li>
<li><input type="checkbox" id="list_followers" name="list_followers"> <label for="list_followers"><a href="https://twitter.com/{{ requested_user.username }}/followers" target="_blank">Followers</a></label> ({{ requested_user.public_metrics.followers_count }} members)</li>
{% if is_me %}
<li><input type="checkbox" id="list_blocked" name="list_blocked"> <label for="list_blocked"><a href="https://twitter.com/settings/blocked/all" target="_blank">Blocked accounts</a></label></li>
<li><input type="checkbox" id="list_muted" name="list_muted"> <label for="list_muted"><a href="https://twitter.com/settings/muted/all" target="_blank">Muted accounts</a></label></li>
{% endif %}
{% for lst in lists %}
<li><input type="checkbox" id="list_{{ lst.id }}" name="list_{{ lst.id }}"> <label for="list_{{ lst.id }}"><a href="https://twitter.com/i/lists/{{ lst.id|urlencode }}" target="_blank">{{ lst.name }}</a></label> ({{ lst.member_count }} members)</li>
{% endfor %}
</ul>
<p><span style="font-weight: bold">Note:</span> For very large lists (several thousand members), not all members might be searched due to rate limiting issues.</p>

<input type="hidden" name="screenname" value="{{requested_name}}">
<input type="submit" name="getlist" value="Search lists">
</form>
{% endif %}

{% if mastodon_id_users %}
<p>Out of the {{ n_users_searched }} accounts that we looked at, the following {% if mastodon_id_users|length == 1 %}one has{% else %}{{ mastodon_id_users|length }} have{% endif %} something in their name or bio that looks like a Fediverse ID. (<a href="#export">see below for CSV export</a>)</p>
<dl class="users">
  {% for u in mastodon_id_users %}
    <dt class="users"><a href="https://twitter.com/{{ u.screenname|urlencode }}" class="twitter_acc_link" target="_blank"><span class="displayname">{{ u.name }}</span> <span class="screenname">{{ u.screenname }}</span></a></dt>
    <dd class="users">
      <ul class="mids">
       {% for mid in u.mastodon_ids %}
         <li class="mids"><a href="{{ mid|mid_url }}">{{ mid }}</a></li>
       {% endfor %}
      </ul>
    </dd>
  {% endfor %}
</dl>

<h2>CSV Export</h2>
<p><a id="export"></a>You can bulk-follow, bulk-block, etc. all the above accounts on Fediverse by downloading the CSV file below and importing it e.g. on Mastodon under Settings → Import and Export → Import. Make sure to select ‘merge’, not ‘overwrite’.</p>
<p style="margin-bottom: 2em">
<a class="button" href="data:text/plain;charset=utf-8,{{ csv|urlencode }}" download="following_accounts.csv">Download CSV Export</a>
</p>
{% endif %}

{% if keyword_users %}
<h2>Additional Spurious Results</h2>

<p>Additionally, the following users have some possibly Mastodon-related keywords in their bio. You may want to check them manually.</p>
<dl class="users">
  {% for u in keyword_users %}
    <dt class="users"><a href="https://twitter.com/{{ u.screenname }}" class="twitter_acc_link"><span class="displayname">{{ u.name }}</span> <span class="screenname">{{ u.screenname }}</span></a></dt>
    <dd class="users">
      <ul class="extras">
        {% for x in u.extras %}
          <li class="extras">‘[…] {{ x }} […]’</li>
        {% endfor %}
      </ul>
    </dd>
  {% endfor %}
</dl>
{% endif %}

{% endif %}

{% endif %}

<p style="margin-bottom: 2em; margin-top: 2em;">
<a class="button" href="./?clear=clear">Log Out</a>
</p>

{% include "footer.html" %}
</body>
</html>
