<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="This is a web app that helps you find out which of the people you follow on Twitter are on Mastodon/in the Fediverse already and follow all of them easily.">
<meta name="author" content="Manuel Eberl">
<title>Debirdify</title>
<link rel="stylesheet" href="https://pruvisto.org/debirdify_static/style.css">
</head>
<body>
<h1><a href="https://pruvisto.org/debirdify_static/logo.svgz"><img src="https://pruvisto.org/debirdify_static/logo.svgz" style="width: 44pt; vertical-align: text-bottom; padding-right: 3pt;"></a>Debirdify</h1>

